<!--half img section-->  
<section class="half-section" id="asthma-intro">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-6 nopadding">
            <div class="image img-container">
               <img alt="" src="assets/images/ease.png" class="equalheight">
            </div>
         </div>
        <div class="col-md-6 nopadding">
            <div class="split-box text-center center-block container-padding equalheight" id="btn-feature">
            <div class="heading-title padding">
            <span class=" wow fadeIn" data-wow-delay="200ms">Our Product</span>
            <h2 class="darkcolor bottom20 wow fadeIn" data-wow-delay="250ms">EaseBreathe</h2>
            <p class="heading_space wow fadeIn text-block" data-wow-delay="300ms">
                    Do not let fear of asthma attack stop your child from leading a normal life like other children. 
                    Lack of physical activities because of asthma can lead to obesity in children. 
                    Participating in certain physical activities can help in better control of asthmatic symptoms. 
                    BreatheEase aims to provide assistance to parents to manage asthma in their children as well as promote health and fitness in these children.
            </p>
            <a href="#asthma-process" class="button btnprimary pagescroll wow fadeInUp" data-wow-delay="500ms">Solution</a>  
            </div>
            </div>
        </div>
        </div>
    </div>
 </section>
 
 <section class="half-section">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6 nopadding">
              <div class="split-box text-center center-block container-padding equalheight" id="btn-feature">
                 <div class="heading-title padding">
                 <span class=" wow fadeIn" data-wow-delay="200ms">About </span>
                 <h2 class="darkcolor bottom20 wow fadeIn" data-wow-delay="250ms">Asthma</h2>
                 <p class="heading_space wow fadeIn text-block" data-wow-delay="300ms">
                        Asthma is a chronic illness that affects the lungs, which causes constriction of airways making it harder to breathe. 
                        Constriction of the airway muscles is due to the sensitivity resulting in flare-up producing extra mucus. 
                        Asthma flare-up may begin slowly or aggravate quickly based on exposure to various factors like weather, pollen, allergens, etc. 
                        In Australia, one in nine people are affected by asthma. 
                        Asthma in children is one of the most common reasons for children missing school and visiting doctors in Australia.
                 </p>
                 <a href="#asthma-triggers" class="button btnprimary pagescroll wow fadeInUp" data-wow-delay="500ms">Triggers</a>  
              </div>
              </div>
           </div>
          <div class="col-md-6 nopadding">
             <div class="image img-container">
                <img alt="" src="assets/images/team/heatmap-screenshot.png" class="equalheight">
             </div>
          </div>
       </div>
    </div>
 </section>  
 <!--half img section ends-->    