<!-- Our Team-->    
<section id="our-team" class="bglight">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6 offset-md-3 col-sm-12 text-center">
             <div class="heading-title wow fadeInUp" data-wow-delay="400ms">
                <span>Physical Activities Recommendation</span>
                <h2 class="darkcolor bottom20 text-success">Good Control Asthma</h2>
                <p class="bottom60">
                    If your child has good or well controlled asthma, he/she has two symptoms per week or less.
                    These symptoms do not limit normal activity of the child and will rarely wake him/her up at
                    night. The use of relievers, such as short-acting beta-agonists (SABA), is two times per week or
                    less. Also, the lung functioning is normal or near-normal.

                </p>
             </div>
          </div>
       </div>

    <!-- Safe Control Asthma -->
       <div class="row">
         <div class="col-md-12">
            <div id="goodcontrol-slider" class="owl-carousel " data-ride="carousel">
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="assets/images/swimming.png" alt="">
                      </div>
                      <div class="team-content gradient_bg whitecolor">
                        <h3>Swimming</h3>
                        <p class="bottom60">Swimming is a healthy form of aerobic exercise that children with asthma can participate in. The air you breathe while swimming is warm and moist preventing any kind of airway irritation. Swimming also helps improve lung functionality and increases cardiopulmonary fitness. In fitness level will prevent trigger of asthmatic.</p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="assets/images/walking.png" alt="">
                      </div>
                      <div class="team-content gradient_bg_default whitecolor">
                        <h3>Walking</h3>
                        <p class="bottom60">Walking is moderate type of physical activity, which strengths lung functionality and assists in preventing the resistance in breathing experienced by asthmatics. It is important to consider the pace of walking.The weather conditions need to be taken into consideration as well before plannign to go.</p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="assets/images/jogging.png" alt="">
                      </div>
                      <div class="team-content gradient_bg whitecolor">
                        <h3>Jogging</h3>
                        <p class="bottom60">
                          Jogging have a positive impact on lung muscles and cardiovascular fitness. 
                          Participating in jogging/running will help increase maximal breathing reserve which can improve 
                          asthmatic condition over time. Since, jogging can be quite strenuous for a child with asthma.
                        </p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="assets/images/yoga.png" alt="">
                      </div>
                      <div class="team-content gradient_bg_default whitecolor">
                        <h3>Yoga</h3>
                        <p class="bottom60">
                          Yoga training can not only help improve your child°Øs asthmatic symptoms but also help relax their body and mind. 
                          Yogic breathing, also known as pranayama, teaches children to use their rib cage, chest, diaphragm, throat, 
                          and nasal cavity to bring oxygen into the body and to release carbon dioxide. 
                        </p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="assets/images/volleyball.png" alt="">
                        </div>
                        <div class="team-content gradient_bg whitecolor">
                          <h3>Volleyball</h3>
                          <p class="bottom60">Volleyball can be a physical activity that your child can participate in, since the movement required to play this game does not require the player to run around much compared to sports like soccer. You need to ensure that your child is trained with a controlled pace to build the fitness level step-by-step.</p>                          
                        </div>
                    </div>
                    </div>
                    <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="assets/images/softball.png" alt="">
                        </div>
                        <div class="team-content gradient_bg_default whitecolor">
                          <h3>Softball</h3>
                          <p class="bottom60">Softball similar to the game of baseball allows players to take enough time for rest and   drink water to make sure the player is hydrated. You need to follow general precautions mentioned in the table. If you notice trigger of any symptom in your child, see to it that your child takes break from the game till he/she is relieved from the symptoms.</p>
                        </div>
                    </div>
                    </div>
                    <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="assets/images/tennis.png" alt="">
                        </div>
                        <div class="team-content gradient_bg whitecolor">
                          <h3>Tennis</h3>
                          <p class="bottom60">Tennis as a sport will allow your child to expend energy on the court with regular breaks in between the games with access to water (prevent asthmatic symptom due to dehydration.) and medication (if need be). It also enables the player to control the pace of the game and if it’s a doubles match.</p>
                        </div>
                    </div>
                    </div>
                    <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="assets/images/cycling.png" alt="">
                        </div>
                        <div class="team-content gradient_bg_default whitecolor">
                          <h3>Cycling</h3>
                          <p class="bottom60">Cycling at a leisurely pace should not trigger symptoms of asthma. It is important to consider the pace of cycling and the steepness of the ground you are cycling on. Mountain biking is definitely not advisable since rapid process of breathing can dry out airways causing asthmatic symptoms.</p>
                        </div>
                    </div>
                    </div>

                    
            </div>
         </div>   
       </div>
<!-- /Safe Control Asthma -->

      
    </div>
 </section>
 <!-- Our Team ends--> 