<!-- Our Team-->    
<section id="our-team" class="bglight">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6 offset-md-3 col-sm-12 text-center">
             <div class="heading-title wow fadeInLeft" data-wow-delay="400ms">
                <span>Physical Activities Recommendation</span>
                <h2 class="darkcolor bottom20 text-success">Good Control Asthma</h2>
                <p class="heading_space subtitle-text">
                    If your child has good or well controlled asthma, he/she has two symptoms per week or less.
                    These symptoms do not limit normal activity of the child and will rarely wake him/her up at
                    night. The use of relievers, such as short-acting beta-agonists (SABA), is two times per week or
                    less. Also, the lung functioning is normal or near-normal.

                </p>
             </div>
          </div>
       </div>

    <!-- Safe Control Asthma -->
       <div class="row">
         <div class="col-md-12">
            <div id="goodcontrol-slider" class="owl-carousel " data-ride="carousel">
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="https://via.placeholder.com/490x480" alt="">
                      </div>
                      <div class="team-content gradient_bg whitecolor">
                        <h3>Swimming</h3>
                        <p class="bottom20">CEO, The XeOne Company dadasdadadasdas czx</p>
                        <div class="progress-bars bottom60">
                            <div class="progress">
                              <p>Marketing online</p>
                              <div class="progress-bar" data-value="90"><span>90%</span></div>
                            </div>
                            <!-- <div class="progress">
                              <p>Web Designing</p>
                              <div class="progress-bar" data-value="75"><span>75%</span></div>
                            </div> -->
                        </div>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="https://via.placeholder.com/490x480" alt="">
                      </div>
                      <div class="team-content gradient_bg_default whitecolor">
                        <h3>Walking</h3>
                        <p class="bottom10">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                        <p class="bottom60">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="https://via.placeholder.com/490x480" alt="">
                      </div>
                      <div class="team-content gradient_bg whitecolor">
                        <h3>Jogging</h3>
                        <p class="bottom10">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                        <p class="bottom60">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="https://via.placeholder.com/490x480" alt="">
                      </div>
                      <div class="team-content gradient_bg_default whitecolor">
                        <h3>Yoga</h3>
                        <p class="bottom10">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                        <p class="bottom60">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                      </div>
                  </div>
                  </div>
                  <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="https://via.placeholder.com/490x480" alt="">
                        </div>
                        <div class="team-content gradient_bg whitecolor">
                          <h3>Volleyball</h3>
                          <p class="bottom20">CEO, The XeOne Company dadasdadadasdas czx</p>
                          <div class="progress-bars bottom60">
                              <div class="progress">
                                <p>Marketing online</p>
                                <div class="progress-bar" data-value="90"><span>90%</span></div>
                              </div>
                              <!-- <div class="progress">
                                <p>Web Designing</p>
                                <div class="progress-bar" data-value="75"><span>75%</span></div>
                              </div> -->
                          </div>
                        </div>
                    </div>
                    </div>
                    <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="https://via.placeholder.com/490x480" alt="">
                        </div>
                        <div class="team-content gradient_bg_default whitecolor">
                          <h3>Softball</h3>
                          <p class="bottom10">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                          <p class="bottom60">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                        </div>
                    </div>
                    </div>
                    <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="https://via.placeholder.com/490x480" alt="">
                        </div>
                        <div class="team-content gradient_bg whitecolor">
                          <h3>Tennis</h3>
                          <p class="bottom10">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                          <p class="bottom60">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                        </div>
                    </div>
                    </div>
                    <div class="item">
                      <div class="team-box custom-single">
                        <div class="image">
                          <img src="https://via.placeholder.com/490x480" alt="">
                        </div>
                        <div class="team-content gradient_bg_default whitecolor">
                          <h3>Cycling</h3>
                          <p class="bottom10">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                          <p class="bottom60">Designer, The XeOne Company asdasdadasdadadasdas czxdadasdadadasdas czxc asfasdasdasdasdasd</p>
                        </div>
                    </div>
                    </div>

                    
            </div>
         </div>   
       </div>
<!-- /Safe Control Asthma -->


    </div>
 </section>
 <!-- Our Team ends--> 