


<!--Gallery-->

<section id="asthma-triggers" class="bglight">
    <div class="container">
        <div id="portfolio-measonry" class="cbp border-portfolio]">
          <div class="cbp-item itemshadow">
             <img [src]="weatherImg" alt="">
             <div class="overlay center-block whitecolor">
                <a [href]="weatherImg"></a>
                <h3 class="top30 bottom30 ">Weather</h3>
                <p class="text-block">
                    Some individuals with asthma can suffer with severe symptoms during certain weather conditions than otherwise. 
                    Cold, dry air can induce asthma symptoms for asthmatics who participate in physical activities. 
                    Extreme hot, humid and windy weather causes growth of mold and spread of pollen through air, 
                    which can trigger asthmatic symptoms.
                </p>
                <a routerLink="/home2" fragment="asthma-weather" class="button btnsecondary btn-gradient-hvr pagescroll">Explore Weather Function</a>
             </div>
          </div>
          <div class="cbp-item">
             <div class="text_wrap wow fadeIn" data-wow-delay="350ms">
                <div class="heading-title text-center padding_top">
                   <span class=" wow fadeIn" data-wow-delay="200ms">Asthma</span>
                   <h2 class="darkcolor bottom10">Triggers</h2>
                   <p class="text-block">
                        A trigger is something that sets off or starts asthma symptoms. 
                        Everyone’s asthma is different, and everyone has different triggers. 
                        For most people with asthma, triggers are only a problem when their asthma is not well-controlled 
                        with medicine. The three main triggers of asthmatic symptoms in children are pollens, 
                        weather and allergens.
                    </p>
                </div>
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="/assets/images/pollen.png" alt="">
             <div class="overlay center-block whitecolor">
                <a href="/assets/images/pollen.png"></a>
                <h3 class="top30 bottom30">Pollen</h3>
                <p class="text-block">
                    Pollen is powder like substance produced by trees, plants and weeds. 
                    ‘Thunderstorm asthma’ is a potent mix of pollens, weather conditions and rain 
                    that can trigger severe asthma symptoms. When rain droplets crash into airborne pollen, 
                    the pollen grains are broken into tiny particles. These particles can then get further and deeper 
                    inside your lungs than the larger pollen grains, and so trigger a worse asthma response.
                </p>
                
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="/assets/images/allergens.png" alt="">
             <div class="overlay center-block whitecolor">
                <a href="/assets/images/allergens.png"></a>
                <h3 class="top30 bottom30">Allergens</h3>
                <p class="text-block">
                    Allergens are any substance that can induce allergic reactions to substances in 
                    the environment that are harmless to other people. Asthma symptoms can occur when an allergen 
                    is inhaled into lungs of a sensitive person. This leads to swelling of the lining of the airways 
                    and tightening of the muscles around the airway, which causes narrowing of the airway and difficulty 
                    in breathing. Some of the allergens leading to Asthmatic symptoms are house dust mites, pets (animal dander), 
                    pollen and mold.
                </p>
                <a routerLink="/home2" fragment="asthma-symptoms" class="button btnsecondary btn-gradient-hvr pagescroll">Asthma Survey</a>
             </div>
          </div>
       </div>
    </div>
 </section>

 <!--Gallery ends -->  