
<!--Gallery-->
<section id="asthma-triggers" class="bglight">
    <div class="container">
       <div id="portfolio-measonry" class="cbp border-portfolio]">
          <div class="cbp-item itemshadow">
             <img src="/assets/images/portfolio-1.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="/assets/images/portfolio-1.jpg"></a>
                <h4 class="top30">Wood Work</h4>
                <p>Small Portfolio Detail Here</p>
             </div>
          </div>
          <div class="cbp-item">
             <div class="text_wrap wow fadeIn" data-wow-delay="350ms">
                <div class="heading-title text-center padding_top">
                   <span>Portfolio Designs</span>
                   <h2 class="darkcolor bottom10">Asthma Triggers</h2>
                   <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,</p>
                </div>
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="/assets/images/portfolio-2.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&autoplay=1&rel=0&controls=0&showinfo=0"></a>
                <h4 class="top30">Wood Work</h4>
                <p>Small Portfolio Detail Here</p>
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="/assets/images/portfolio-3.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="/assets/images/portfolio-3.jpg"></a>
                <h4 class="top30">Wood Work</h4>
                <p>Small Portfolio Detail Here</p>
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="/assets/images/portfolio-4.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="/assets/images/portfolio-4.jpg"></a>
                <h4 class="top30">Wood Work</h4>
                <p>Small Portfolio Detail Here</p>
             </div>
          </div>
          <!-- <div class="cbp-item">
             <div class="bottom-text">
                <div class="cells  wow fadeIn" data-wow-delay="350ms">
                   <p>We’ve Completed More Than </p>
                   <h2 class="port_head gradient_text">682</h2>
                   <p class="bottom15">projects for our amazing clients,</p>
                </div>
                <div class="cells wow fadeIn" data-wow-delay="350ms">
                   <a href="gallery-detail.html" class="button btnsecondary btn-gradient-hvr">View All Work</a>
                </div>
             </div>
          </div> -->
       </div>
    </div>
 </section>
 <!--Gallery ends -->  