
<section id="asthma-weather" class="padding bglight">
<div class="container-fluid">
<!-- <div class="container-fluid"> -->

    <div class="map-container">
    <!-- Map Description -->
    <div class="col-md-10 offset-md-1">
    <h3 class="card-title">Asthma Acitivity Recommendation</h3>
    <p>By using Weather forecasting data together with your Asthma Level Survey, we make some recommendations to where you are planning to go in the next few days</p>
    
    </div>

    <div class="map-wrapper">
    <!-- Render Googmal Map -->
    <div id="map" class="map-frame"></div>

    <!-- GMap Info Content on Makers -->
    <!-- <div class="col-md-12 info-window" id="infowindow-content">
            <div class="row font-medium" style="margin-left: 10px; height: 15%">
            <h5 class="card-title font-medium" id="place-address">Melbourne VIC</h5>
            <hr>
            </div>
            <div class="row text-center font-small small-padding small-margin" style="height: 85%">
                <div class="col-md-4 ">
                <div class="row" style="margin: auto">
                    <div class="col-md-6 no-padding">
                        <i class="material-icons icon-medium-font">wb_sunny</i>
                    </div>
                    <div class="col-md-6 text-center no-padding">
                        <h5 class="card-title cus-text-center" >RAIN</h5>
                    </div>
                </div>
                    <p class="category" style="margin-bottom: 2px">light rain</p>
                    <p class="category">Humidity : 90%</p>
                </div>
                <div class="col-md-2 small-margin">
                    <h5 class="card-title">MON</h5>
                    <i class="material-icons icon-small-font">wb_sunny</i>
                    <p class="category "><strong>20 C</strong></p>
                    <p class="category">18 C</p>
                </div>
                <div class="col-md-2 small-margin">
                    <h5 class="card-title">TUE</h5>
                    <i class="material-icons icon-small-font">wb_sunny</i>
                    <p class="category"><strong>20 C</strong></p>
                    <p class="category">18 C</p>
                </div>
                <div class="col-md-2 small-margin">
                <h5 class="card-title">TUE</h5>
                    <i class="material-icons icon-small-font">wb_sunny</i>
                    <p class="category"><strong>20 C</strong></p>
                    <p class="category">18 C</p>
                </div>
                <div class="col-md-2 small-margin">
                <h5 class="card-title">TUE</h5>
                    <i class="material-icons icon-small-font">wb_sunny</i>
                    <p class="category"><strong>20 C</strong></p>
                    <p class="category">18 C</p>
                </div>
        </div>
    </div> -->

    <!-- InfoWindow for Google Map -->
    <!-- <div class="col-md-12 info-window" id="infowindow-content" style="display: none">
        <div class="row " style="margin-left: 10px; height: 15%">
        <h5 class="card-title font-medium" id="place-address" ></h5>
        </div>
        <div class="row text-center small-padding small-margin" style="height: 85%">
        <div class="col-md-4">
            <i class="material-icons icon-medium-font">wb_sunny</i>
            <h5 class="card-title" style="margin-bottom: 2px">RAIN</h5>
            <p class="category">light rain</p>
            <p class="category">Humidity : 90%</p>
        </div>
        <div class="col-md-2 small-margin">
            <h5 class="card-title">MON</h5>
            <i class="material-icons icon-small-font">wb_sunny</i>
            <p class="category "><strong>20 C</strong></p>
            <p class="category">18 C</p>
        </div>
        <div class="col-md-2 small-margin">
            <h5 class="card-title">TUE</h5>
            <i class="material-icons icon-small-font">wb_sunny</i>
            <p class="category"><strong>20 C</strong></p>
            <p class="category">18 C</p>
        </div>
        <div class="col-md-2 small-margin">
            <h5 class="card-title">TUE</h5>
            <i class="material-icons icon-small-font">wb_sunny</i>
            <p class="category"><strong>20 C</strong></p>
            <p class="category">18 C</p>
        </div>
        <div class="col-md-2 small-margin">
            <h5 class="card-title">TUE</h5>
            <i class="material-icons icon-small-font">wb_sunny</i>
            <p class="category"><strong>20 C</strong></p>
            <p class="category">18 C</p>
        </div>
        </div>
    </div> -->
    <!-- InfoWindow for Google Map -->

    <!-- Render Search Location -->
    <div class="map-search-input">
        <form class="navbar-form">
            <div class="input-group no-border">
                <input id="pac-input" type="text" value="" class="form-control map-int-search" placeholder="Try LGA orce-overflow suburbs">
                <button mat-raised-button type="submit" class="btn btn-primary-custom btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </form>
    </div>

    <!-- Render Control Panel -->
    <div class="map-overlay" *ngIf="showMapOverLay">
        <div class="col-md-12 text-center map-white-text">
        <!-- Current Weather Condition -->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <!-- <i [ngClass]="this.MapOverLayClass">/i> -->
                <h1> Testing : [( console.log(this.weatherObj) )]</h1>
            </div>
            <div class="col-md-8 offset-md-2 ml-auto mr-auto text-center">
            <h5 class="card-title font-large" style="color: white !important">{{ this.weatherObj.list[0].weather[0].main.toUpperCase() }}</h5>
            <p class="category">{{ this.weatherObj.list[0].weather[0].description.toLowerCase() }}</p>
            <p class="category">Humidity : {{ this.weatherObj.list[0].main.humidity }}</p>
            </div>
        </div>
        <!-- Forecasting Data -->
        <hr class="horizontal-white-line">
        <div class="row scrollbar" id="scroll-bar">
            <div class="table-responsive orce-overflow" >
            <table class="table table-striped table-dark">
                <tr>
                <td>Now</td>
                <td>20 C</td>
                </tr>
                <tr>
                <td>9:00</td>
                <td>30 C</td>
                </tr>
            </table>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
<!-- </div> -->
</div>

<!-- <div class="card-icon"><i class="material-icons">mail_outline</i></div> -->
</section>