<!-- header -->
<header class="site-header">
<nav class="navbar navbar-expand-lg fixed-bottom gradient_bg">
    <div class="container">
        <a class="navbar-brand" href="index.html"> <img src="assets/images/team/product-logo.png" alt="logo"> </a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="xenav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#ourhome">Home</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#asthma-intro">Asthma</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#asthma-statistics">Statistics</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#asthma-triggers">Triggers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#asthma-process">Process</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#asthma-symptoms">Symptoms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#asthma-weather">Weather</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#asthma-pollen">Pollen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#asthma-activity">Activities</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="#asthma-contact">contact</a>
            </li>
            </ul>
        </div>
    </div>

    <!--side menu open button-->
    <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
        <span></span> <span></span> <span></span>
    </a>
</nav>

<!-- side menu -->
<div class="side-menu">
    <div class="inner-wrapper">
        <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
        <nav class="side-nav">
            <ul class="navbar-nav w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="#ourhome">Home</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#asthma-process">Asthma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#asthma-statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#asthma-triggers">Triggers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#asthma-symptoms">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#asthma-weather">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#asthma-pollen">Pollen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">contact</a>
                </li>
            </ul>
        </nav>

        <ul class="social-icons-simple white top50 w-100">
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
        </ul>
        <p class="whitecolor">&copy; </p>
    </div>
</div>
<a id="close_side_menu" href="javascript:void(0);"></a>
<!-- End side menu -->
</header>
<!-- header -->

