<!-- WOrk Process-->  
<section id="asthma-process" class="padding gradient_bg_default">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
              <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
              <h2 class="whitecolor">Asthma <span class="fontregular">Management System</span> </h2>
              </div>
          </div>
      </div>
      <div class="row">
          <ul class="process-wrapp">
              <li class="whitecolor wow fadeIn" data-wow-delay="350ms">
              <span class="pro-step bottom20">01</span>
              <p class="fontbold bottom25">Asthma Triggers</p>
              <p>We focus on 4 main triggers that are common and lead to Asthma Attacks.</p>
              </li>
              <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
              <span class="pro-step bottom20">02</span>
              <p class="fontbold bottom25">Asthma Symptoms</p>
              <p>Asthma can be classified into 3 groups based on your symptoms.</p>
              </li>
              <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
              <span class="pro-step bottom20">03</span>
              <p class="fontbold bottom25">Daily Weather Map</p>
              <p>By applying weather forecasting, we are more likely to prevent asthma attacks.</p>
              </li>
              <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
              <span class="pro-step bottom20">04</span>
              <p class="fontbold bottom25">Pollen Density Map</p>
              <p>Minimize going to high density pollen, we can reduce asthma attacks.</p>
              </li>
              <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
              <span class="pro-step bottom20">05</span>
              <p class="fontbold bottom25">Consultation</p>
              <p>We provide a wide range of informative data, Ashthma attack is in control.</p>
              </li>
          </ul>
      </div>
  </div>
  </section>
  <!--WOrk Process ends-->