
<!--Ful Screen Section Video with caption-->
<section class="full-screen parallax-video parallaxie center-block bg-video-container" id="ourhome">
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <div class="center-item text-center video-content">
                <h2 class="text-capitalize top50 bottom35  whitecolor">
                    <span class="font-xlight block wow fadeIn" data-wow-delay="400ms">What is EaseBreathe?</span>
                    <!-- <span class="block fontbold wow fadeIn" data-wow-delay="500ms">  What is Application Name?</span> -->
                    <span class="block fontbold"> is <span id="typewriting" class="text-rose"></span> </span>
                </h2>
                <a href="#asthma-process" class="button btnwhite pagescroll wow fadeInUp" data-wow-delay="600ms">learn more</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</div> 
<video class="my-background-video jquery-background-video" loop autoplay muted poster="video/thumb-slide.jpg">
    <source src="assets/video/video-slide.mp4" type="video/mp4">
    <source src="assets/video/video-slide.ogv" type="video/webm">
    <source src="assets/video/video-slide.webm" type="video/ogg">
</video>
</section>


<!-- ------- Body Section --------- -->

<app-asthma></app-asthma>

<!-- <app-statistics></app-statistics> -->

<app-triggers></app-triggers>

<app-process></app-process>

<app-symptoms></app-symptoms>

<!-- <app-counter></app-counter> -->

<app-weather></app-weather>

<app-pollen></app-pollen>

<app-activities></app-activities>

<app-contact></app-contact>

<app-about></app-about>
