<!-- Our Team-->    
<section class="bglight">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6 offset-md-3 col-sm-12 text-center">
             <div class="heading-title wow fadeInUp" data-wow-delay="400ms">
                <span>Physical Activities Recommendation</span>
                <h2 class="darkcolor bottom20 text-danger">Bad Control Asthma</h2>
                <p class="heading_space subtitle-text">
                    If your child has good or well controlled asthma, he/she has two symptoms per week or less.
                    These symptoms do not limit normal activity of the child and will rarely wake him/her up at
                    night. The use of relievers, such as short-acting beta-agonists (SABA), is two times per week or
                    less. Also, the lung functioning is normal or near-normal.

                </p>
             </div>
          </div>
       </div>

    <!-- Safe Control Asthma -->
       <div class="row">
         <div class="col-md-12">
            <div id="badcontrol-slider" class="owl-carousel " data-ride="carousel">
                  <div class="item">
                    <div class="team-box custom-single">
                      <div class="image">
                        <img src="assets/images/yoga.png" alt="">
                      </div>
                      <div class="team-content gradient_bg whitecolor">
                        <h3>Yoga</h3>
                        <p class="bottom60">
                          Yoga training can not only help improve your child's asthmatic symptoms but also help relax their body and mind. 
                          Yogic breathing, also known as pranayama, teaches children to use their rib cage, chest, diaphragm, throat, 
                          and nasal cavity to bring oxygen into the body and to release carbon dioxide. 

                        </p>
                        <!-- <div class="progress-bars bottom60">
                            <div class="progress">
                              <p>Marketing online</p>
                              <div class="progress-bar" data-value="90"><span>90%</span></div>
                            </div>
                        </div> -->
                      </div>
                  </div>
                  </div>
                    
            </div>
         </div>   
       </div>
<!-- /Safe Control Asthma -->
<!-- ------------------------------------------------------------------------------------------------- -->

       


    </div>
 </section>
 <!-- Our Team ends--> 