

<!-- ------- Body Section --------- -->


<!-- <div *ngIf="_getMainpage() === true">
    <app-home></app-home>

    <app-asthma></app-asthma>

    <app-statistics></app-statistics>
    
    <app-triggers></app-triggers>
    
    <app-first-aid></app-first-aid>
  
</div>

<div *ngIf="_getMainpage() === false">

    <app-process></app-process>
    
    <app-symptoms></app-symptoms>
    
    
    <app-weather></app-weather>
    
    <app-pollen></app-pollen>
    
    <app-activities></app-activities>
    
    <app-contact></app-contact>
    
</div> -->
