


.text-warning {
color: #ff9800 !important; }
    
.text-primary {
color: #9c27b0 !important; }

.text-danger {
color: #f44336 !important; }

.text-success {
color: #4caf50 !important; }

.text-info {
color: #00bcd4 !important; }

.text-rose {
color: #e91e63 !important; }

.text-gray {
color: #999999 !important; }