
<!-- Mobile Apps -->  
<section id="asthma-symptoms" class="padding">
        <div class="container">
        
            <!-- Navigation -->
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="heading-title wow fadeInDown heading_space" data-wow-delay="300ms">
                        <h2 class="darkcolor">Asthma Symptoms Questionaires</h2>
                        <span class="" style="font-size: 16px; width: 80%; margin: auto">The most important aspect of asthma management is the overall control of your child’s illness. After a confirmed diagnosis of asthma, parents can assess their child’s current asthma control status by answering a set of questions related to frequency of occurrence of the symptoms, the frequency of use of reliever medications and measures of lung function like FEV (Forced Expiratory Volume).</span>
                    </div>
                </div>
            </div>
        
            <!-- QUestions -->
            <div class="row" id="app-feature">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="content-left clearfix">
                        <div class="feature-item left top30 bottom30 wow fadeInLeft" id="symp-good-control" data-wow-delay="300ms">
                            <span class="icon " id='good-control'><i class="fa fa-thumbs-up"></i></span>
                            <div class="text">
                                <h4>Good Control Asthma</h4>
                                <!-- <p>Do we need a short description here?</p> -->
                            </div>
                        </div>
                        <div class="feature-item left top30 bottom30 wow fadeInLeft" id="symp-partial-control" data-wow-delay="350ms">
                            <span class="icon " id='partial-control'><i class="fa fa-balance-scale"></i></span>
                            <div class="text">
                                <h4>Partial Control Asthma</h4>
                                <!-- <p>Do we need a short description here?</p> -->
                            </div>
                        </div>
                        <div class="feature-item left top30 bottom30 wow fadeInLeft" id="symp-bad-control" data-wow-delay="400ms">
                            <span class="icon " id='bad-control'><i class="fa fa-thumbs-down"></i></span>
                            <div class="text">
                                <h4>Poor Control Asthma</h4>
                                <!-- <p>Do we need a short description here?</p> -->
                            </div>
                        </div>
                        <hr>
                        <!-- Marking -->
                        <div class="cbp-item feature-item left bottom30 wow fadeInLeft">
                            <div class="bottom-text">
                                <div class="cells  wow fadeIn" data-wow-delay="450ms">
                                    <p>Your current asthma score: </p>
                                    <h2 class="port_head gradient_text" id="score-counter">{{ scoreCounter }}</h2>
                                    <p class="bottom15"> out of 25</p>
                                </div>
                            </div>
                            <div class="cells wow fadeInLeft" data-wow-delay="500ms">
                                <button class="button btnsecondary btn-gradient-hvr" 
                                        id="score-submit-btn"
                                        (click)='onSelectSurvey()'>Submit Survey</button>
                            </div>
                            <hr>
                            <div class="bottom-text">
                                <p>25-16: Good Control</p>
                                <p>15-10: Partial Control</p>
                                <p>9-5:   Poor Control</p>
                            </div>
                        </div>
                        <!-- /Marking -->
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12" style="padding-left: 50px">
                    <div class="content-right clearfix">
        
                        <!-- Google Control-->
                            <div class="feature-item right top30 bottom30 left30 wow fadeInRight" id="symp-good-control-child">
                            <table class="table table-bordered">

                                    <tr class="card-header-success justify-content-center">
                                        <th>What asthma symptoms to you commonly notice in your child?</th>
                                        <th>Coughing / Difficulty in Breathing</th>
                                        <th>Tightness in the chest</th>
                                        <th>Wheezing</th>
                                    </tr>
                                    <!-- Line 1 -->
                                    <tr *ngFor = 'let symp of symptoms; let idx = index'>
                                        <td [innerHTML]='symp.question'><td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <p clas="title"> {{ symp.coughing_content }} </p>
                                                    <input class="form-check-input" type="radio" 
                                                                [checked]="symp.coughing_checked === true" 
                                                                [value]="symp.coughing_value" 
                                                                [name]="symp.id" 
                                                                (change)="onSelectionChange(idx, symp, 'coughing')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <p clas="title"> {{ symp.tightness_content }} </p>
                                                    <input class="form-check-input" type="radio" 
                                                                [value]="symp.tightness_value" 
                                                                [name]="symp.id" 
                                                                (change)="onSelectionChange(idx, symp, 'tightness')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <p clas="title"> {{ symp.wheezing_content }} </p>
                                                        <input class="form-check-input" type="radio" 
                                                                    [value]="symp.wheezing_value" 
                                                                    [name]="symp.id" 
                                                                    (change)="onSelectionChange(idx, symp, 'wheezing')">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                    </tr>
                                    <!-- /Line 1 -->
        
                            </table>
                            </div>
                        <!-- /Good Control -->
        
                    </div>
                </div>
            </div>
        
            
        </div>
        </section>                                                                                 
        <!--Mobile Apps ends-->  
        