<!-- Our Team-->    
<section id="asthma-activity" class="padding bglight" *ngIf="globals.enable">
    <div class="container-fluid">

        <div *ngIf="globals.isGoodControl">
            <app-goodcontrol></app-goodcontrol>
        </div>
        <div *ngIf="globals.isPartialControl">
            <app-partialcontrol></app-partialcontrol>
        </div>
        <div *ngIf="globals.isBadControl">
            <app-badcontrol></app-badcontrol>
        </div>

    </div>
 </section>
 <!-- Our Team ends--> 
